*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #f4f4f4;
}
.container{
    max-width: 1480px;
    margin: 0 auto;
}
input{
    width: 500px;
    height: 50px;
    margin: 50px;
    border-radius: 5px;
}
select{
    height: 50px;
}
.card{
    width: 470px;
    height: 450px;
    padding: 20px;
    background-color: white;
    border-radius: 30px;
    box-shadow: 0px 0px 17px 0px black;
    transition: 1s;
    padding-left: 40px;
    position: relative;
}
.card:hover{
    transform: translateY(-10px);
}
#parent{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.btne{
    width: 100px;
    height: 30px;
    border-radius: 12px;
    background-color: #3b82f6;
    color: white;
    border: none;
}
.btnd{
    width: 120px;
    height: 30px;
    border-radius: 12px;
    background-color: #ef4444;
    color: white;
    border: none;
}
.img{
    display: flex;
    justify-content: center;
    align-items: center;
}
.h1{
    margin-top: 20px
}
.p{
    margin-top: 20px;
}
.r{
    margin-top: 20px;
    margin-bottom: 20px;
}
.modal{
    display: none;
}
.modal2{
    display: none;
}
#add{
    width: 100px;
    height: 100px;
    border-radius: 10px;
    font-size: 60px;
}